<script>
  import { gameStore } from './stores';
  import Player from './Player.svelte';

  let playerName1 = '';
  let playerName2 = '';
  let currentMultiplier = 1;

  const setNames = () => {
    gameStore.setName(0, playerName1);
    gameStore.setName(1, playerName2);
    gameStore.startGame();
  };

  const handleThrow = (number) => {
    // Ignoriere Triple Bullseye
    if (number === 25 && currentMultiplier === 3) {
      return;
    }

    const score = number * currentMultiplier;
    gameStore.throwDart(score);
    currentMultiplier = 1; // Reset multiplier after each throw
  };

  const handleOut = () => {
    gameStore.throwDart(0); // Out is treated as 0 score
  };

  const setMultiplier = (multiplier) => {
    currentMultiplier = multiplier;
  };

  const resetGame = () => {
    gameStore.resetGame();
  };
</script>

{#if !$gameStore.gameStarted}
  <h1 class="title" style="color: red">Dartmaster</h1>
  <h2 align="center">501 - Double Out</h2>
  <div class="name-inputs" align="center">
	<div><label style="font-weight: bold">Player 1</label>
    <input type="text" bind:value={playerName1} placeholder="Player 1 Name" />
	<p></div>
	<div>
	<label style="font-weight: bold">Player 2</label>
    <input type="text" bind:value={playerName2} placeholder="Player 2 Name" />
	</div>
	<p>
    <button on:click={setNames}>Start Game</button>
  </div>
{:else}
  <main>
    <h1 class="title" style="color: red">Dartmaster</h1>
  <h2 align="center">501 - Double Out</h2>
    <div class="player-container">
      <Player playerIndex={0} />
      <div class="throw-controls">
        <div class="multiplier-buttons">
          <button on:click={() => setMultiplier(2)}>Double</button>
          <button on:click={() => setMultiplier(3)}>Triple</button>
        </div>
        <div class="number-buttons">
          {#each Array(20) as _, index}
            <button on:click={() => handleThrow(index + 1)}>{index + 1}</button>
          {/each}
          <button on:click={() => handleThrow(25)}>Bullseye</button>
          <button on:click={handleOut}>Out</button>
        </div>
        <button class="reset-button" on:click={resetGame}>Reset Game</button>
      </div>
      <Player playerIndex={1} />
    </div>
  </main>
{/if}

<style>
  .title {
    text-align: center;
  }
  .player-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .throw-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .multiplier-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .multiplier-buttons button {
    margin: 0 5px;
  }
  .number-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
  .number-buttons button {
    margin: 2px;
  }
  .reset-button {
    margin-top: 20px;
  }
  .name-inputs {
    margin-bottom: 20px;
  }
</style>
