<script>
  import { gameStore } from './stores';

  export let playerIndex;

  $: player = $gameStore.players[playerIndex];
  $: isCurrentPlayer = $gameStore.currentPlayerIndex === playerIndex;
</script>

<div>
  <h2>{player.name} {isCurrentPlayer ? (playerIndex === 0 ? '←' : '←') : ''}</h2>
  <p class="large-score" style="color: red;">Score: {player.score}</p>
  <p>Legs Won: {player.legsWon}</p>
  <p>Total Throws: {player.totalThrows}</p>
  <div class="current-throws">
    {#each player.currentThrows as throwScore}
      <span>{throwScore}</span>
    {/each}
  </div>
  <div class="throw-history">
    {#each player.throwHistory as throwData}
      <div>
        <span class="old-score">{throwData.oldScore}</span>
        ➜ {throwData.throws.reduce((a, b) => a + b, 0)} ({throwData.throws.join(', ')})
      </div>
    {/each}
  </div>
</div>

<style>
  .large-score {
    font-size: 1.5em;
    font-weight: bold;
  }
  .current-throws span {
    margin-right: 10px;
  }
  .throw-history div {
    margin: 4px 0;
  }
  .old-score {
    text-decoration: line-through;
  }
</style>
